#b {
  cursor: pointer;
  font-weight: bolder;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #FF6B00;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  outline: none;
  font-size: 15px;
}
#b:hover {
  background: #FF6B00;
}
#b > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}
#b:hover svg {
  transform: translateX(5px);
}
#b:active {
  transform: scale(0.95);
}

#div{

  transition: transform 0.3s ease;
}

#div:hover {
 transform: scale(1.03);
}

