#col{
    color: blue !important;
}
.footer {
    /* Définir la hauteur de la div */
   
    
    /* Dégradé linéaire de haut en bas */
    background-image: linear-gradient(to bottom, #111827,#29385a);
}
.button {
    padding: 10px 15px !important;
    outline: none !important;
    background-color: #e37907 !important;
    color: #000000 !important;
    border-radius: 7px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    transition: all 0.25s ease-out !important;
  }
  
  .button:hover {
    transform: translateY(-3px) !important;
    background-color: black !important;
    color: white !important;
  }
  
  .button-span {
    color: #000000 !important;
    padding-left: 30px;
  }

  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    color: #000000;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #000000;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }


  #col{
    color: blue !important;
}
#footer {
    /* Définir la hauteur de la div */
   
    
    /* Dégradé linéaire de haut en bas */
    background-image: linear-gradient(to bottom, #111827,#29385a);
}
@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer div {
        margin-bottom: 20px;
    }
}
  