.form-select {
    /* styles for the select element */
    width: 10% !important;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transform: scaleY(1) !important; 
    opacity: 1;
  }
  
  
  .option-qty:hover {
    /* styles for the option element on hover */
    background-color: #e7e7e7;
    color: #666;
  }
  .option-qty {
    /* Your existing styles for .option-qty */
    /* Example styles */
    border: 1px solid #ccc;
    padding: 5px;
}

.option-qty:focus {
    outline: none; /* Change border color when focused */
     /* Smooth transition for border color */
}
.Btn {
    width: 100%;
    height: 40px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
  }
  
  .Btn::before {
    width: 100%;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .Btn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }

  .noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(35px);
    color: white;
    padding-bottom: 15px;
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icon svg {
    transform: scale(0.8);
   }

   .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #FF6B00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF6B00,
                0 0 25px #FF6B00,
                0 0 50px #FF6B00,
                0 0 100px #FF6B00;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FF6B00);
    animation: btn-anim1 2s linear infinite;
  }