html {
    font-family: "Inter", sans-serif;
  }
  
  .btn {
    @apply rounded-full bg-[#FF6B00] px-8 py-3 text-lg font-medium text-white hover:bg-[#FF5200] focus:outline-none focus:ring-2 focus:ring-[#FF6B00] focus:ring-opacity-50 transition duration-300 ease-in-out;
  }
  
  .blockquote {
    @apply bg-[#FFECE6] p-4 rounded-lg text-lg text-gray-700 leading-relaxed border-l-4 border-[#FF6B00] my-6 break-words;
  }
   .navbar-dark .navbar-toggler-icon{
    color: #fff;
  }
  .custom-navbar{
    height: 100px;
  }
  .nav-link-custom{
    font-size: 20px;
  }
  .nav-link-custom {
    color:yellow;
  }
  #div:hover{
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    }
    #div{
      transition:box-shadow 0.3s ease;
      
     
      
      padding: 20px;
      z-index: 1;
    
    }
    #div1:hover{
      transform: scale(1.05)  rotate(1deg);
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
      }
      #div1{
        
        
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        
        
      
      }
      .propos{
        background-image: linear-gradient(rgba(21, 20, 20, 0.6),rgba(0, 0, 0, 0.6)),url('../Cbum-Wallpapersun-u-9.jpg');
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
        overflow-y: auto;
        height: 900px;
        color:white;
      }
      .navbar-nav .nav-link:hover {
        color: #FF6B00 !important; /* Changez cette couleur selon vos préférences */
      }
      
      /* Style des éléments de menu déroulant */
      .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block !important;
      }
      
      /* Style des liens dans le menu déroulant */
      .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
        background-color: #FF6B00 !important; /* Changez cette couleur selon vos préférences */
        color: white !important; /* Changez cette couleur selon vos préférences */
      }
     
.navbar-nav .text-white:hover {
  color: #FF6B00 !important; /* Changez cette couleur selon vos préférences */
}
#button {
  font-size: 18px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: center !important;
  font-weight: bold !important;
  padding: 0.7em 2em !important;
  border: 3px solid #FF6B00 !important;
  border-radius: 2px !important;
  position: relative !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1)!important;
  color: #FF6B00 !important;
  text-decoration: none !important;
  transition: 0.3s ease all !important;
  z-index: 1 !important;
}

#button:before {
  transition: 0.5s all ease !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  right: 50% !important;
  bottom: 0 !important;
  opacity: 0 !important;
  content: '' !important;
  background-color: #FF6B00 !important;
  z-index: -1;
}

#button:hover, button:focus {
  color: white !important;
}

#button:hover:before, button:focus:before {
  transition: 0.5s all ease !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

#button:active {
  transform: scale(0.9) !important;
}

#nav{
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

#nav:hover{
  transform: translateY(-3px)
}




.sectionPadding {
padding-bottom: 100px;
}

.bgColor {
  background-color: #111111;
  color: #ffffff;
  font-family: Arial, sans-serif;
height: 130px;
display: flex;
justify-content: center;
align-items: center;
}

.statsSection {
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
}

.statsItem {
text-align: center;
}

.statsValue {
font-size: 30px;
margin-bottom: 10px;
}

.statsLabel {
font-size: 24px;
}


@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
    
  