
#nav{
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

#nav:hover{
  transform: translateY(-3px)
}

#div{

   transition: transform 0.3s ease;
}

#div:hover {
  transform: scale(1.03);
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }
  .button {
    height: 50px !important;
    width: 200px !important;
    position: relative !important;
    background-color: transparent !important;
    cursor: pointer !important;
    border: 2px solid #252525 !important;
    text-align: center !important;
    overflow: hidden !important;
    border-radius: 30px !important;
    color: #000000 !important;
    transition: all 0.5s ease-in-out !important;
  }
  
  .btn-txt {
    z-index: 1 !important;
    font-weight: 800 !important;
    letter-spacing: 4px !important;
  }
  
  .type1::after {
    content: "" !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    transition: all 0.5s ease-in-out !important;
    background-color: #000000 !important;
    border-radius: 30px !important;
    visibility: hidden !important;
    height: 10px !important;
    width: 10px !important;
    z-index: -1 !important;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #252525 !important;
    color: #FF6B00 !important;
    border: none !important;
  }
  
  .type1:hover::after {
    visibility: visible !important;
    transform: scale(100) translateX(2px) !important;
  }
  